<a href="https://colab.research.google.com/github/InesAgudoMartin/UNIWALLET/blob/main/UNIWALLET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import requests
import warnings
import pandas as pd
import numpy as np
import plotly.express as px
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
import networkx as nx
import matplotlib.pyplot as plt

# URL directa al archivo CSV en GitHub
url = "https://raw.githubusercontent.com/InesAgudoMartin/UNIWALLET/main/expense_data_1.csv"
nombre = 'expense_data_1.csv'

# Realizar la solicitud GET para obtener el contenido del archivo
response = requests.get(url)

# Verificar si la solicitud fue exitosa (c√≥digo de estado 200)
if response.status_code == 200:
    # Guardar el contenido del archivo en un archivo local
    with open(nombre, 'wb') as f:
        f.write(response.content)
    print("Archivo descargado exitosamente.")
else:
    print("Error al descargar el archivo.")

# Leer el archivo CSV descargado
ds = pd.read_csv(nombre)

# Mostrar los primeros registros del DataFrame
print(ds.head())
ds.head(10)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Archivo descargado exitosamente.
             Date               Account        Category  Subcategory  \
0  3/2/2022 10:11  CUB - online payment            Food          NaN
1  3/2/2022 10:11  CUB - online payment           Other          NaN
2  3/1/2022 19:50  CUB - online payment            Food          NaN
3  3/1/2022 18:56  CUB - online payment  Transportation          NaN
4  3/1/2022 18:22  CUB - online payment            Food          NaN

               Note    INR Income/Expense  Note.1  Amount Currency  Account.1
0           Brownie   50.0        Expense     NaN    50.0      INR       50.0
1  To lended people  300.0        Expense     NaN   300.0      INR      300.0
2            Dinner   78.0        Expense     NaN    78.0      INR       78.0
3             Metro   30.0        Expense     NaN    30.0      INR       30.0
4            Snacks   67.0        Expense     NaN    67.0      INR       67.0

,Date,Account,Category,Subcategory,Note,INR,Income/Expense,Note.1,Amount,Currency,Account.1
0,3/2/2022 10:11,CUB - online payment,Food,NaN,Brownie,50.00,Expense,NaN,50.00,INR,50.00
1,3/2/2022 10:11,CUB - online payment,Other,NaN,To lended people,300.00,Expense,NaN,300.00,INR,300.00
2,3/1/2022 19:50,CUB - online payment,Food,NaN,Dinner,78.00,Expense,NaN,78.00,INR,78.00
3,3/1/2022 18:56,CUB - online payment,Transportation,NaN,Metro,30.00,Expense,NaN,30.00,INR,30.00
4,3/1/2022 18:22,CUB - online payment,Food,NaN,Snacks,67.00,Expense,NaN,67.00,INR,67.00
5,3/1/2022 18:22,CUB - online payment,Other,NaN,From vicky,100.00,Income,NaN,100.00,INR,100.00
6,3/1/2022 18:21,CUB - online payment,Other,NaN,From dad,500.00,Income,NaN,500.00,INR,500.00
7,2/28/2022 11:56,CUB - online payment,Food,NaN,Pizza,339.15,Expense,NaN,339.15,INR,339.15
8,2/28/2022 11:45,CUB - online payment,Other,NaN,From kumara,200.00,Income,NaN,200.00,INR,200.00
9,2/27/2022 15:29,CUB - online payment,Food,NaN,Lunch,243.00,Expense,NaN,243.00,INR,243.00